@page "/workspaces/{id}/{name}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Workspace> _localizer

@if (_userBoardsLoading)
{
    <Loader />
}
else
{
    <div class="d-flex flex-wrap flex-grow-1 gap-4">
        <MudPaper Outlined="true" Class="border-dashed cursor-pointer pa-4"
        @onclick="OpenCreateBoardModal">
            <MudText Typo="Typo.h4">Create board</MudText>
        </MudPaper>
        <MudDivider />
        @foreach (var board in _userBoards)
        {
            <MudItem xs="12" md="4" Class="cursor-pointer" @onclick="() => NavigateToBoard(board)">
                <MudCard>
                    <MudCardContent>
                        <MudText>@board.Title</MudText>
                        <MudText Typo="Typo.body2">@board.Description</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </div>
}