<MudDialog>
    <DialogContent>
        <div style="height:100%;width:100%;margin-top:calc(100vh / 2 - 64px);">
            <div class="loader">
                <svg class="circular">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                </svg>
            </div>
        </div>
    </DialogContent>
</MudDialog>